@import 'navbar'
@import 'responsive'
@import 'search'
@import 'grid'

@import url(https://fonts.googleapis.com/css?family='Open+Sans|Raleway')

body
  font-family 'Open Sans', sans-serif

.center-loading
  top 50%
  text-align center
  width 100%
  z-index 2
  position absolute
  margin-left -5%

.margin-left
  margin-left 15%

.padding-top
  padding-top 2%

#list
  -webkit-animation-delay 0.75s
  animation-delay 0.75s
  -webkit-animation-duration 1.5s
  animation-duration 1.5s
