.container
	.row
		.col-md-6.col-md-offset-1.col-sm-6.col-sm-offset-4
			.card
				.card-image
					img.img-responsive(src='http://lorempixel.com/555/300/sports')
				// card image
				.card-content
					span.card-title Material Cards
					button#show.btn.btn-custom.pull-right(type='button', aria-label='Left Align')
						i.fa.fa-ellipsis-v
				// card content
				.card-action
					a(href='#', target='new_blank') Link
					a(href='#', target='new_blank') Link
					a(href='#', target='new_blank') Link
					a(href='#', target='new_blank') Link
					a(href='#', target='new_blank') Link
				// card actions
				.card-reveal
					span.card-title Card Title
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					p
						| Here is some more information about this product that is only revealed once clicked on.
				// card reveal
