section
	.nav-side-menu
		.brand.grid-bg
			img(src='images/yeoman.png')
		.menu-list(ng-init='init()')
			.checkbox.margin-checkbox
				label(data-toggle='collapse', data-target='#collapseOne', ng-show='!searchType.advanced')
					input(type='checkbox', ng-model='searchType.simple')
					|  Recherche simple
			#collapseOne.panel-collapse.collapse
				.panel-body
					.checkbox
						#a(ng-hide='simpleSearchParam.country || simpleSearchParam.price || simpleSearchParam.year')
							input(type='checkbox', ng-model='simpleSearchParam.type')
							| Par type
					.checkbox
						#b(ng-hide='simpleSearchParam.type || simpleSearchParam.price || simpleSearchParam.year')
							input(type='checkbox', ng-model='simpleSearchParam.country')
							| Par pays
					.checkbox
						#c(ng-hide='simpleSearchParam.type || simpleSearchParam.country || simpleSearchParam.year')
							input(type='checkbox', ng-model='simpleSearchParam.price')
							| Par prix
					.checkbox
						#d(ng-hide='simpleSearchParam.type || simpleSearchParam.price || simpleSearchParam.country')
							input(type='checkbox', ng-model='simpleSearchParam.year')
							| Par année
			.checkbox.margin-checkbox
				label(data-toggle='collapse', data-target='#collapseTwo', ng-show='!searchType.simple')
					input(type='checkbox', ng-model='searchType.advanced')
					|  Recherche avancée
			#collapseTwo.panel-collapse.collapse
				.panel-body
					.checkbox
						input(type='checkbox', ng-model='advancedSearchParam.typ', data-target='#collapseThree', data-toggle='collapse')
						| Par type
					#collapseThree.panel-collapse.collapse
						.panel-body
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.typ.merlot')
								| Merlot
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.typ.cabernet')
								| Cabernet
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.typ.syrah')
								| Syrah
						.container
							.row
								.col-sm-2
									.input-group
										input.form-control(type='text', name='x', ng-model='searchInput.typeBar', placeholder='Type', ng-keypress='($event.which === 13) ? search(searchInput) : 0', uib-typeahead='typ for typ in typeaheadTypes | filter:$viewValue | limitTo:8')
										span.input-group-btn
											button.btn.btn-default(type='button')
												span.glyphicon.glyphicon-search
					.checkbox
						input(type='checkbox', ng-model='advancedSearchParam.country', data-target='#collapseFour', data-toggle='collapse')
						| Par pays
					#collapseFour.panel-collapse.collapse
						.panel-body
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.country.canada')
								| Canada
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.country.france')
								| France
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.country.argentine')
								| Argentine
						.container
							.row
								.col-sm-2
									.input-group
										input.form-control(type='text', name='x', ng-model='searchInput.countryBar', placeholder='Pays', ng-keypress='($event.which === 13) ? search(searchInput) : 0', uib-typeahead='country for country in typeaheadCountries | filter:$viewValue | limitTo:8')
										span.input-group-btn
											button.btn.btn-default(type='button')
												span.glyphicon.glyphicon-search
										ul.dropdown-menu(role='listbox')
					.checkbox
						input(type='checkbox', ng-model='advancedSearchParam.price', data-target='#collapseFive', data-toggle='collapse')
						| Par prix
					#collapseFive.panel-collapse.collapse
						.panel-body
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.price.twenty')
								| 20 $
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.price.thirty')
								| 30 $
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.price.sixty')
								| 60 $
						.container
							.row
								.col-sm-2
									.input-group
										input.form-control(type='text', name='x', ng-model='searchInput.priceBar', placeholder='Prix', ng-keypress='($event.which === 13) ? search(searchInput) : 0')
										span.input-group-btn
											button.btn.btn-default(type='button')
												span.glyphicon.glyphicon-search
					.checkbox
						input(type='checkbox', ng-model='advancedSearchParam.year', data-target='#collapseSix', data-toggle='collapse')
						| Par année
					#collapseSix.panel-collapse.collapse
						.panel-body
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.year.thousandeight')
								| 2008
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.year.thousandten')
								| 2010
							.checkbox
								input(type='checkbox', ng-model='advancedSearchParam.sub.year.thousandfifthteen')
								| 2015
						.container
							.row
								.col-sm-2
									.input-group
										input.form-control(type='text', name='x', ng-model='searchInput.yearBar', placeholder='Année', ng-keypress='($event.which === 13) ? search(searchInput) : 0')
										span.input-group-btn
											button.btn.btn-default(type='button')
												span.glyphicon.glyphicon-search
section.margin-left.grid-bg
	loading.absolute.center.center-loading
	.container
		.row
			.col-md-12
				.input-group.padding-top
					.input-group-btn.search-panel
						button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown')
							span#search_size Nombre de résultats&nbsp;
							span.caret
						ul#ss.dropdown-menu(role='menu')
							li
								a(href='#10') 10
							li
								a(href='#20') 20
							li
								a(href='#30') 30
					input#search_size_param(type='hidden', name='search_size_param', value='all')
					input.form-control(type='text', name='x', ng-model='searchInput.mainBar', placeholder='Rechercher une bouteille', ng-keypress='($event.which === 13) ? search(searchInput) : 0')
					span.input-group-btn
						button.btn.btn-default(type='button')
							span.glyphicon.glyphicon-search
		.row.full-height
			elastic-grid.padding-top(items='wines', filter='popup')#list
